/*CORPS*/
body {
	background-image:url(../images/wp.png);
	background-attachment: fixed;
    background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

.error {
	color: #ff0d0c;
	font-size: 18px;
}

.center h1{
	text-align: center;
	color:  #ffffff;
	margin: 0;
	font-size: 50px;
}

.center h1 span{
	color: #d3492c;
}

/*AUTHENTIFICATION FORM*/
.form {
	background: #F4F4F4;
	padding: 10px;
	max-width: 500px;
	margin: 40px auto;
	border-radius: 3px;
	box-shadow:0 4px 10px 4px rgba(19,19,47,.3);
	text-align: center;
}

.tab-gr {
	list-style: none;
	padding:0;
	margin: 0 0 40px 0;
}
	
li a{
	display: block;
	text-decoration: none;
	padding: 15px;
	background: #cccccc;
	color: #808080;
	font-size: 20px;
	width: 44%;
	float: left;
	text-align: center;
	cursor: pointer;
	transition:.5s ease;
}
.active {
	background: #F4F4F4;
	color: #1E1E1E;
}
	
li a:hover {
	background: #e6e6e6; /*darken 5%*/
	color: #1E1E1E;
}

.hide{
	display: none;
}
.show{
	display: block;
}

h1 {
	padding-top: 5px;
	text-align: center;
	color: #1E1E1E;
}

input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom:10px;
	width: 99%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 21px;
	outline: none;
}
.inline {
	width: 49%;
	display: inline;
}
.good:focus{
	border: 1px solid #56ff13;
	border-radius: 3px;
}
.bad:focus{
	border: 1px solid #ff0d0c;
	border-radius: 3px;
}


.action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-size:15px;
}

.action-button:hover{
	box-shadow: 0 0 0 2px #F4F4F4, 0 0 0 3px #27AE60;
}

/*TABLEAU CLASSEMENT*/
.classement {
	background: #F4F4F4;
	border-radius: 3px;
	border-collapse: collapse;
	padding: 5px;
	max-width: 400px;
	height:250px;
	margin: 40px auto;
	box-shadow:0 4px 10px 4px rgba(19,19,47,.3);
	overflow-y:scroll;
	overflow-x:hidden;
}

th {
	color: #D5DDE5;
	background: #1b1e24;
	border-bottom:4px solid #9ea7af;
	border-right:1px solid #343a45;
	padding: 22px;
	margin-bottom:10px;
	width: 300px;
	font-size: 21px;
	text-shadow:0 1px 1px rgba(0,0,0,0.1);
	vertical-align:middle;
}

th:first-child {
	border-top-left-radius:3px;
}

th:last-child {
	border-top-right-radius:3px;
	border-right: none;
}

td {
	background: #F4F4F4;
	padding: 13px;
	text-align: center;
	vertical-align: middle;
	font-size: 19px;
	font-weight: 300;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child{
	border-right: 0;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	text-shadow: 0 1px 1px rgba(256,256,256,0.1);
}

tr:first-child{
	border-top: none;
}

tr:last-child{
	border-bottom: none;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

/*POP UP message*/
#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .70;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
