body {
    margin-top: 100px;
    background-color: #f0f0f0;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 25px;
    }
}

/* Top Navigation */

.top-nav {
    height: 61px;
    padding: 0 15px;
    background-color: #242729; !important;
    border: none;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
    color: #999;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #ffffff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border-top: 2px solid #ff1f31;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */
.block{
    width: 250px;
    height: 50px;
    background-color: #303030;
}

.padd{
    padding-top: 7px;
}
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        left: 225px;
        width: 250px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #ae231f;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        color: #ffffff;
        width: 250px;
    }

    .side-nav>li>a.active {
        background-color: #b22e2a;
        color: #fff;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #b22e2a !important;
    }
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #ae231f;
}

.panel-red > .panel-heading {
    border-color: #ae231f;
    color: #fff;
    background-color: #ae231f;
}

.panel-red > a {
    color: #ae231f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/*CLASSEMENT*/

th {
    color: #ffffff;
    background: #ae231f;
    border-bottom:4px solid #9ea7af;
    padding: 22px;
    margin-bottom:10px;
    width: auto;
    font-size: 16px;
    text-align: center;
    font-weight: 150;
    text-shadow:0 1px 1px rgba(0,0,0,0.1);
    vertical-align:middle;
}

.tournois {
    color: #ffffff;
    background: #ae231f;
    border-bottom:4px solid #9ea7af;
    padding: 22px;
    margin-bottom:10px;
    width: 1px;
    font-size: 16px;
    text-align: center;
    font-weight: 150;
    text-shadow:0 1px 1px rgba(0,0,0,0.1);
    vertical-align:middle;
}


td {
    padding: 13px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}

td:last-child{
    border-right: 0;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    text-shadow: 0 1px 1px rgba(256,256,256,0.1);
}

tr:first-child{
    border-top: none;
}

tr:last-child{
    border-bottom: none;
}

.well {
    margin-top:-20px;
    background-color:#007FBD;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.well:hover {
    margin-top:-20px;
    background-color:#0077B2;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom : 2px solid rgba(97, 203, 255, 0.65);
}

.bg_blur
{
    background-image:url('../images/wp.png');
    height: 300px;
    width: 1630px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.panel-baby {
    border-color: #ae231f;
    border-radius: 0px;
}

.panel-baby > .panel-heading {
    border-color: #ae231f;
    color: #ffffff;
    background-color: #ae231f;
    border-radius: 0;
}

.panel-baby > a {
    color: #ae231f;
}

.panel-baby > a:hover {
    color: #df8a13;
}




